* {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
}

body {
  font-size: .6rem;
  background-color: rgb(50, 50, 50);
  color: white;
}

main {
  display: flex;
  flex-flow: column wrap;
  gap: 1rem;
  align-items: center;
}

/* Input para pesquisar por nome */
.name-filter {
  background-color: #330bb5;
  border: 1px solid rgb(31, 93, 217);
  border-radius: 30px;
  text-align: center;
  color: white;
}

.name-filter:focus {
  outline: none;
}

/* Tabela */
table {
  border-collapse: collapse;
  width: 100vw;
}

th, td {
  text-align: left;
  border-bottom: 2px solid #330bb5;
  max-width: 5vw;
}

th {
  text-align: center;
  background-color: #330bb5;
  font-weight: bold;
}
